<%= render partial: "shared/nav" %>

<section id="discount_info">
    <p>Discount: <%= @discount.name %> </p>
    <p>Discount Threshold: <%= @discount.quantity_threshold %> </p>
    <p>Discount Percentage: <%= @discount.percentage * 100 %>%</p>
</section>
<%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @discount) %>